!!! 5
%html{:lang => 'pl'}
  %head
    = render :partial => "/layouts/head"
    = stylesheet_link_tag "bootstrap-response", :media=>"screen, projection"
    = stylesheet_link_tag "home", :media=>"screen, projection"
    =# stylesheet_link_tag "print", :media=>"print"
    /[if IE]
      %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}/
      = stylesheet_link_tag "ie", :media=>"all"
  %body
    .layout
      .header{:role=>"banner", :itemscope=>"itemscope", :itemtype=>"http://schema.org/Organization"}
        .navbar.navbar-inverse.navbar-fixed-top{:role=>"navigation"}
          .navbar-inner
            .container
              =link_to(content_tag(:span, "Dendor Valve", :itemprop=>"name"), "http://dendor.pl", :class=>"brand span2", :itemprop=>"url")
              %button.btn.btn-navbar{"data-toggle"=>"collapse", "data-target"=>".nav-collapse"}
                - 3.times do
                  %span.icon-bar
              .nav-collapse.collapse
                %ul.nav
                  %li=link_to("Oferta","/productions/")
                  %li=link_to("Aktualności","/news.html")
                  %li=link_to("Info","/info.html")
                  %li=link_to("Cennik","/price.html")
                  %li=link_to("Kontakt","/contact.html")
                %ul.nav.pull-right.country
                  %li=link_to(image_tag('icons/us.gif', :width=>"16", :height=>"11", :alt=>"USA"), "http://dendor-valve.com", :title=>"USA")
                  %li=link_to(image_tag('icons/pl.gif', :width=>"16", :height=>"11", :alt=>"Poland"), "http://dendor.pl", :title=>"Poland")
                  %li=link_to(image_tag('icons/ru.gif', :width=>"16", :height=>"11", :alt=>"Rosja"), "http://dendor.ru", :title=>"Rosja")
        .container
          .row.head
            .span3{:itemscope=>'itemscope', :itemtype=>"http://schema.org/Organization"}
              %meta{:itemprop=>"name", :content=>"Dendor Valve Industrial  Sp. z o.o."}
              .logo= image_tag('logo/logo-wite270.png', :width=>"269", :height=>"82", :alt=>"Dendor Valve Industrial")
              .contact-top.text-center{:role=>"contentinfo"}
                .address{:itemprop=>"address", :itemscope=>"itemscope", :itemtype=>"http://schema.org/PostalAddress"}
                  %span{:itemprop=>"streetAddress"} ul. Jaśkowa Dolina 81
                  =tag("br")
                  %span{:itemprop=>"postalCode"}= " 80-286"
                  %span{:itemprop=>"addressLocality"}= " Gdańsk, Polska"
                .tel{:itemprop=>"telephone"} +48 (58) 523-7560
                .email
                  %i.icon-envelope.icon-white
                  = mail_to("info@dendor.pl","info@dendor.pl",:itemprop=>"email")
            .span9
              .wrap-slider
                %h1.pull-left Armatura przemysłowa
                .pull-right.img-slider= image_tag("slide1.png", :width=>"245", :height=>"395", :alt=>"Armatura przemysłowa")
                = render :partial => "/layouts/slider"
      .main
        .container
          .row
            .span3
              .aside-sidebar
                = render :partial => "/layouts/nav_productions"
            .span9
              .row-fluid
                .span10.offset1
                  .home-title
                    = yield
              /
                .line.line-dotted
                .row-fluid
                  .span6
                    %h2.h1 Aktualności
                    %p Firma Dendor Valve Industrial była wystawcą na ХХII Międzynarodowych Targach Maszyn i Urządzeń dla Wodociągów i Kanalizacji WOD-KAN 2014 w Bydgoszczy (Polska). Przedstawiony przez spółkę szeroki asortyment armatury przemysłowej dla przemysłu i gospodarki komunalnej wzbudzał żywe zainteresowanie licznych odwiedzających...
                    %p.text-right= link_to("czytaj więcej...", "#")
                  .span6
                    %ul.thumbnails
                      -2.times do
                        %li.span5.offset1
                          .thumbnail.text-center
                            =link_to(image_tag(lorem_image("180x180"), :width=>"180", :height=>"180", :alt=>"lorem_image"), "#")
              .line.line-dotted
              .row-fluid
                .span4
                  %h2.h2 Jakość Produktów
                  %p Dendor Valve Industrial zawsze troszczy się o jakość swoich produktów i potrzeby Klientów dążąc do świadczenia jak najlepszej jakości usług dla naszych wszystkich Kontrahentów.
                .span4
                  %h2.h2 Kontrola Jakości
                  %p Dendor Valve Industrial zapewnia możliwość kontroli jakości wszystkich procesów produkcyjnych i gwarantuje ich  jakość sprawdzając na najnowszej generacji aparaturze badawczo-kontrolnej.
                .span4
                  %h2.h2 Zastosowanie Techniczne
                  %p Dendor Valve Industrial nie ogranicza się tylko do projektowania i wytwarzania standardowych elementów,  ale również pomaga i doradza znalezienie prawidłowych rozwiązań w Państwa branży.
      .layout-footer
    .footer{:role=>"contentinfo"}
      .container
        .row
          = render :partial => "/layouts/footer"
    = javascript_include_tag "/lib/headjs/head.min"
    = render :partial => "/layouts/headjs_home"
    = render :partial => "/layouts/google_analytics"
