-@view = {:title=>"Dendor Valve Industrial", :description=>"Armatura przemysłowa Dendor Valve Industrial.", :keywords=>"Armatura przemysłowa"}

%h2 O nas
.about
  %p= content_tag(:span,"D",:class=>"h1") + "ziałamy na rynku materiałów instalacyjnych w charakterze producenta i dostawcy urządzeń armatury przemysłowej."
  %p= content_tag(:span,"E",:class=>"h1") + "lastycznie podchodzimy do potrzeb każdego naszego Klienta i Kontrahenta."
  %p= content_tag(:span,"N",:class=>"h1") + "adążamy za nowymi technologiami oraz nowymi produktami branżowymi."
  %p= content_tag(:span,"D",:class=>"h1") + "bamy o wizerunek marki i wysoki poziom swoich kwalifikacji zawodowych."
  %p= content_tag(:span,"O",:class=>"h1") + "ferujemy armaturę przemysłową, systemy naprawczo-połączeniowe, kształtki wodociągowe z żeliwa sferoidalnego."
  %p= content_tag(:span,"R",:class=>"h1") + "ealizujemy zamówienia w sposób szybki, rzetelny i kreatywny."
  %p
    %small Zapraszamy Państwa do zapoznania się z naszą #{link_to("ofertą!","/productions/")}
