-@view = {:title=>"Dendor Valve Industrial", :description=>"Armatura przemysłowa Dendor Valve Industrial.", :keywords=>"Armatura przemysłowa"}
%h2 O nas
.about
  %p= content_tag(:span,"D",:class=>"h1") + "ziałamy na rynku materiałów instalacyjnych w charakterze producenta i dostawcy urządzeń armatury przemysłowej."
  %p= content_tag(:span,"E",:class=>"h1") + "lastycznie podchodzimy do potrzeb naszych Kontrahentów współpracując z dużymi i małymi przedsiębiorstwami."
  %p= content_tag(:span,"N",:class=>"h1") + "adążamy za wdrażaniem nowych rozwiązań i materiałów zapewniających spełnianie najwyższych europejskich standardów technologicznych."
  %p= content_tag(:span,"D",:class=>"h1") + "ążymy do doskonałości zarówno w sferze obsługi Klienta, jak i w sferze jakości naszych wyrobów stosując nadzór na wszystkich etapach produkcji."
  %p= content_tag(:span,"O",:class=>"h1") + "ferujemy bezpieczne dla środowiska i energooszczędne urządzenia m.in. dla przemysłu papierniczego, cukierniczego, spożywczego, stoczniowego."
  %p= content_tag(:span,"R",:class=>"h1") + "ealizujemy zamówienia w sposób rzetelny i kreatywny przyczyniając się do sukcesu Państwa firmy i dając obu stronom efekt synergii."
  %p
    %small Zapraszamy Państwa do zapoznania się z naszą #{link_to("ofertą!","/productions/")}
