-@view = {:title=>"Aktualności", :description=>"Aktualności", :keywords=>"Aktualności"}
-@activeNews = "active"
.row
  .span12
    %ul.breadcrumb
      %li
        =link_to("Główna", "/", :class=>"hide-text icon-home", :title=>"Główna")
        %span.divider="/"
      %li.active= @view[:title]
.row
  .span9.offset3
    %h1.h1= @view[:title]
.row
  .span9.pull-right
    .main-content
      %section
        %h2.h2= link_to 'Mędzynarodowe Targi "EKWATEK 2014" w Moskwie', "/news/exhibition-in-moscow.html"
        %p Dendor Valve Industrial będzie wystawcą na Międzynarodowych Targach Wodnych Technologii „EKWATEK 2014” w dniach 03-06 czerwca 2014r. w ramach 11-go Międzynarodowego Forum EKWATEK w Moskwie...
        %p.text-right= link_to "czytaj więcej...", "/news/exhibition-in-moscow.html", :class=>"btn btn-link"
      .line.line-dotted
      %section
        %h2.h2= link_to "Targi WOD-KAN 20-22 maja 2014 r.", "/news/exhibition-in-poland.html"
        %p Z wielką radością informujemy, że w dniach 20-22 maja 2014 roku firma Dendor Valve Industrial będzie wystawcą na XXII Międzynarodowych Targach Maszyn i Urządzeń do wodociągu i kanalizacji WOD-KAN 2014 (na terenie wystawienniczym Bydgoszcz Myślęcinek)...
        %p.text-right= link_to "czytaj więcej...", "/news/exhibition-in-poland.html", :class=>"btn btn-link"
      .line.line-dotted
      %section
        %h2.h2= link_to 'Międzynarodowe Targi "Aqua-Therm" w Sankt Petersburgu', "/news/exhibition-in-spb.html"
        %p W dniach 09-12 kwietnia 2014 r. w Sankt Petersburgu odbędą się Międzynarodowe Targi Systemów Cieplnych, Wodociągowych, Sanitarnych, Klimatyzacyjnych, Wentylacyjnych oraz urządzeń do basenów „Aqua-Therm St.Petersburg 2014”...
        %p.text-right= link_to "czytaj więcej...", "/news/exhibition-in-spb.html", :class=>"btn btn-link"
      /.line.line-dotted

  .span3.pull-left.left-bar.text-right
    %ul.nav.nav-list
      %li.nav-header= @view[:title]
      %li= link_to "Mędzynarodowe Targi EKWATEK 2014", "/news/exhibition-in-moscow.html"
      %li= link_to "Targi WOD-KAN 20-22 maja 2014 r.", "/news/exhibition-in-poland.html"
      %li= link_to "Międzynarodowe Targi Aqua-Therm 2014", "/news/exhibition-in-spb.html"
