-@view = {:title=>"Dendor Valve Catalog", :description=>"Armatura przemysłowa Dendor Valve Industrial.", :keywords=>"Armatura przemysłowa"}
-@activeCatalog = "active"
!!! 5
%html{:lang => 'pl', "ng-app"=>"valvesApp"}
  %head
    = render :partial => "/layouts/head"
    = stylesheet_link_tag "bootstrap-no-response", :media=>"screen, projection"
    = stylesheet_link_tag "screen", :media=>"screen, projection"
    = stylesheet_link_tag "catalog", :media=>"screen, projection"
    /[if IE]
      %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}/
      = stylesheet_link_tag "ie", :media=>"all"

    = javascript_include_tag "/lib/headjs/head.min"

  %body{:analytics=>""}
    .layout
      .header{:role=>"banner"}
        = render :partial => "/layouts/top_header"
        = render :partial => "/layouts/navbar"
      .main
        .container
          .view-container
            .view-frame.ng-cloak{"ng-view"=>"ng-view", "ng-cloak"=>"ng-cloak"}
      .layout-footer
    .footer{:role=>"contentinfo"}
      .container
        .row
          = render :partial => "/layouts/footer"
    = render :partial => "/layouts/headjs_catalog"
    = render :partial => "/layouts/google_analytics"
