%ul.nav.nav-list{:role=>"navigation"}
  %li.nav-header Kategorie produktów
  %li= link_to "Przepustnice","productions/#!/butterfly-valves"
  %li= link_to "Zasuwy","productions/#!/cast-iron-valves"
  %li= link_to "Zawory zwrotne","productions/#!/check-valves"
  %li= link_to "Zawory elektromagnetyczne","productions/#!/solenoid-valves"
  %li= link_to "Zawory bezpieczeństwa","productions/#!/safety-valves"
  %li= link_to "Filtry","productions/#!/filters"
  %li= link_to "Kurki kulowe","productions/#!/ball-valves"
  %li= link_to "Napędy elektryczne","productions/#!/actuators"
  %li= link_to "Kompensatory","productions/#!/сompensators"
  %li= link_to "Kształtki","productions/#!/fittings"
  %li= link_to "Akcesoria","productions/#!/accessories"
